body{
    margin: 0%;
    padding: 0%;
    background: rgb(12,227,225);
    background: linear-gradient(176deg, rgba(12,227,225,1) 17%,
                 rgba(66,30,210,1) 73%);
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form{
    width: 400px;
   margin: 20vh auto 0 auto;
   border-radius: 20px;
   border: 2px solid black;
   background-color: rgb(0, 247, 230);
   padding: 30px;
}
h2{
    text-align: center;
    text-decoration: underline;
    color: rgb(157, 0, 255);
}
form button{
    color: rgb(66,30,210);
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    padding: 3px;
    margin-top: 10%;
    
}
.input-set label{
    color: blueviolet;
    margin-bottom: 10%;
}

.input-set input{
    display: flex;
    border-radius: 5px;
    border: 2px solid rgb(34, 193, 195);
    margin-bottom: 3px;
    width: 100%;
}
input:focus{
    outline: 0;
}

.error{
    color: red;
    margin-top: 2px;
    margin-bottom: 4px;
}
.input-set input .date{
    color: chartreuse;
    text-decoration: line-through;
    cursor: pointer;
}

.input-set.succes input{
    border-color: rgb(0, 4, 255);
}

.input-set.error input{
    border-color: red;
}

/* ----------------navigation  */
h1{
    color: blueviolet;
}
nav {
    /* width: 100vh; */
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav li{
    /* display: inline-block; */
    margin: 5px;
    font-size: larger;
    display: none;
}
nav a{
    text-decoration: none;
    transition-duration: 1s;
}
a:hover{
    color: aliceblue;
}
.menushow{
    margin-bottom: 2px;
    width: 25px;
    height: 2px;
    background-color: blueviolet;
    border: 2px solid burlywood;
    /* display: none; */
}
.menuline{
    cursor: pointer;
}

@media all {
    
    nav li{
        display: inline-block;
        margin: 5px;
        font-size: larger;
        
    }
    ul{
        display: none;
    }
    .showmenu{
        display: inline-block;
    }


}